<div class="contents">

  <div class="budget_message">
    <h2> <%= @budget_message %> </h2>
  </div>

  <h1 class ="front_page_text"> My budget for the year: </h1>
  <h1 class="big_numbers"> <%= @budget_value %></h1>


  <h1 class ="front_page_text"> Total spend to date: </h1>
  <h1 class="big_numbers"> <%= @total_spend %> </h1>

    <a class="update_budget_button" href="/bonzabudgeting/budget/<%= @budget.id() %>/budgetupdate"> Update budget </a>


  <div class="table_group">

    <div class="top_box">
    <h2 class = "transaction_title"> Transactions </h2>
      <div class="button_box">
      <a class="breakdown_button" href="/bonzabudgeting/spendbytag"> View spend breakdown by tag </a>
      <a class="breakdown_button" href="/bonzabudgeting/spendbymerchant"> View spend breakdown by merchant </a>
      <a class="breakdown_button" href="/bonzabudgeting/spendbymonth"> View spend breakdown by month </a>
      <a class="breakdown_button" href="/bonzabudgeting"> View all transactions </a>
    </div>
  </div>

    <a class="add_new_button" href="/bonzabudgeting/new"> Add New Transaction </a>


    <!-- <div class="new_form">

      <form action="/bonzabudgeting/<%= params['page_select'] %>" method="get">

        <div class="form-el">
          <label for="page-select"> Select view: </label>
          <select name="page_select" id="page-select">
            <option value="spendbymerchant"> View spend breakdown by Merchant </option>
            <option value="spendbytag"> View spend breakdown by Tag </option>
            <option value="spendbymonth"> View spend breakdown by Month </option>
          </select>
        </div>

        <div class="form-el">
          <input type="submit" value="Go"/>
        </div>

      </form> -->

    <table>
      <tr>
        <th>Date</th>
        <th>Merchant</th>
        <th>Tag</th>
        <th>Spend</th>
      </tr>

      <% @transactions.each() do |transaction| %>
      <tr>
        <td> <%= convert_to_UK_date(transaction.transaction_date()) %></td>
        <td><%= transaction.merchant_name() %></td>
        <td><%= transaction.tag_name() %></td>
        <td><%= transaction.amount_to_display() %></td>
        <td class="no_border">
            <a class="view_edit_button" href="/bonzabudgeting/<%= transaction.id() %>/edit"> Edit </a>
        </td>
        <td class="no_border">
          <form method="post" action="/bonzabudgeting/<%= transaction.id() %>/delete">
            <input type="submit" value = "Delete"/>
          </form>
        </td>
      </tr>
      <% end %>

      <tr>
        <td class="no_border"></td>
        <td class="no_border"></td>
        <td class="no_border"></td>
        <td class="no_border"><b><%= @total_spend %></b></td>
      </tr>
    </table>

  </div>

</div>
