<div class="contents">

  <h1> Total spend in <%= @month %>: </h1>
  <h1 class="big_numbers"> <%= "£#{@total_spend_in_month}" %> </h1>

  <div class="table_group">

    <h3> Transactions </h3>

    <table>
      <tr>
        <th> Date </th>
        <th> Merchant </th>
        <th> Tag </th>
        <th> Spend </th>
      </tr>

      <% @transactions_by_month.each() do |transaction| %>
      <tr>
        <td> <%= convert_to_UK_date(transaction.transaction_date()) %> </td>
        <td> <%= transaction.merchant_name() %></td>
        <td> <%= transaction.tag_name() %></td>
        <td><%= "£#{'%.2f' % transaction.amount()}" %></td>
      </tr>
      <% end %>

      <tr>
        <td class="no_border"></td>
        <td class="no_border"></td>
        <td class="no_border"></td>
        <td class="no_border"><b><%= "£#{@total_spend_in_month}" %></b></td>
      </tr>
    </table>

  </div>

</div>
