<div class="contents">
  <h1> Total spend to date: </h1>
  <h1 class="total_spend"> <%= "£#{@total_spend}" %> </h1>

  <div class="table_group">

    <h3> Split by merchant </h3>

    <table>
      <tr>
        <th>Merchant</th>
        <th>Spend</th>
      </tr>
      <% @merchants.each() do |merchant| %>
      <tr>
        <td><%= merchant.name() %></td>
        <td><%= "£#{'%.2f' % merchant.total_spend()}" %></td>
        <td class="table_end">
          <div class="button">
            <a href="/bonzabudgeting/spendbymerchant/<%= merchant.id() %>"> View transactions </a>
          </div>
          <!-- <form method="get" action="/bonzabudgeting/spendbymerchant/<%= merchant.id() %>">
            <input type="submit" value = "View transactions"/>
          </form> -->
        </td>
      </tr>
      <% end %>
      <tr >
        <td class="table_end"></td>
        <td class="table_end"><b><%= "£#{@total_spend}" %></b></td>
      </tr>

    </table>

  </div>

</div>
