<div class="contents">
  <h1> Total spend to date: </h1>
  <h1 class="total_spend"> <%= @total_spend %> </h1>

  <div class="table_group">

    <h3> Split by tag </h3>

    <table>
      <tr>
        <th>Tag</th>
        <th>Spend</th>
      </tr>
      <% @tags.each() do |tag| %>
      <tr>
        <td><%= tag.name() %></td>
        <td><%= '%.2f' % tag.total_spend() %></td>
        <td class="table_end">
          <form method="get" action="/bonzabudgeting/spendbytag/<%= tag.id() %>">
            <input type="submit" value = "View transactions"/>
          </form>
        </td>
      </tr>
      <% end %>
      <tr >
        <td class="table_end"></td>
        <td class="table_end"><b><%= @total_spend %></b></td>
      </tr>

    </table>

  </div>

</div>
