<div class="contents">

  <h1> Total spend on <%= @merchant.name() %>: </h1>
  <h1 class="total_spend"> <%= "£#{@total_spend_by_merchant}" %> </h1>

  <div class="table_group">

    <h3> Transactions </h3>

    <table>
      <tr>
        <th>Tag</th>
        <th>Spend</th>
      </tr>
      <% @transactions_by_merchant.each() do |transaction| %>
      <tr>
        <td> <%= transaction.tag_name() %></td>
        <td><%= "£#{'%.2f' % transaction.amount()}" %></td>
      </tr>
      <% end %>
      <tr>
        <td class="table_end"></td>
        <td class="table_end"><b><%= "£#{@total_spend_by_merchant}" %></b></td>
      </tr>
    </table>

  </div>

</div>
