<div class="contents">

  <h1> Total spend on <%= @merchant.name() %>: </h1>
  <h1 class="big_numbers"> <%= @total_spend_by_merchant %> </h1>

  <div class="table_group">

    <div class="top_box">
    <h2 class = "transaction_title"> Split by merchant </h2>
      <div class="button_box">
      <a class="breakdown_button" href="/bonzabudgeting/spendbytag"> View spend breakdown by tag </a>
      <a class="breakdown_button" href="/bonzabudgeting/spendbymerchant"> View spend breakdown by merchant </a>
      <a class="breakdown_button" href="/bonzabudgeting/spendbymonth"> View spend breakdown by month </a>
      <a class="breakdown_button" href="/bonzabudgeting"> View all transactions </a>
    </div>
  </div>

  <a class="add_new_button" href="/bonzabudgeting/new"> Add New Transaction </a>

    <table>
      <tr>
        <th> Date </th>
        <th> Tag </th>
        <th> Spend </th>
      </tr>

      <% @transactions_by_merchant.each() do |transaction| %>
      <tr>
        <td> <%= convert_to_UK_date(transaction.transaction_date()) %> </td>
        <td> <%= transaction.tag_name() %></td>
        <td><%= to_display(transaction.amount())%></td>
      </tr>
      <% end %>

      <tr>
        <td class="no_border"></td>
        <td class="no_border"></td>
        <td class="no_border"><b><%= @total_spend_by_merchant %></b></td>
      </tr>
    </table>

  </div>

</div>
