<div class="contents">

  <h1> Total spend to date: </h1>
  <h1 class="big_numbers"> <%= @total_spend %> </h1>

  <div class="table_group">

    <div class="top_box">
    <h2 class = "transaction_title"> Split by merchant </h2>
      <div class="button_box">
      <a class="breakdown_button" href="/bonzabudgeting/spendbytag"> View spend breakdown by tag </a>
      <a class="breakdown_button" href="/bonzabudgeting/spendbymerchant"> View spend breakdown by merchant </a>
      <a class="breakdown_button" href="/bonzabudgeting/spendbymonth"> View spend breakdown by month </a>
      <a class="breakdown_button" href="/bonzabudgeting"> View all transactions </a>
    </div>
  </div>

  <a class="add_new_button" href="/bonzabudgeting/new"> Add New Transaction </a>

    <table>
      <tr>
        <th> Month </th> 
        <th> Spend </th>
        <th class="percentage"> Percentage of total spend </th>
      </tr>

      <% running_total = 0 %>
      <% @months.each() do |month| %>
        <% if Transaction.spending_by_month(month) != "£0.00" %>
          <tr>
            <td><%= Date::MONTHNAMES[month] %></td>
            <td><%= Transaction.spending_by_month(month) %></td>
            <td class="percentage">
              <%= percentage_of_total(Transaction.spending_by_month(month), @total_spend) %>
            </td>
            <td class="no_border">
              <a class="view_edit_button" href="/bonzabudgeting/spendbymonth/<%= month %>">
                View transactions </a>
            </td>
          </tr>
        <% end %>

        <% running_total += convert_back_to_num(Transaction.spending_by_month(month)) %>
      <% end %>

      <% total_summed = to_display(running_total) %>

      <tr >
        <td class="no_border"></td>
        <td class="no_border"><b><%= @total_spend %></b></td>
        <td class="no_border_percentage">
          <b><%= percentage_of_total(total_summed, @total_spend) %></b>
        </td>
      </tr>
    </table>

  </div>

</div>
